<!DOCTYPE html>
<html lang="es">

<% include('./include/head.ejs') %>

<body>
    <form action="/login" method="post">
        <h1>FORMULARIO DE INICIO</h1>
        <label for="userId">Usuario</label>
        <input type="text" name="user" id="user" placeholder="Ingrese su nombre de usuario">
        <button type="submit">INGRESAR</button>
    </form>
</body>

</html>