<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>MY APP</title>
</head>

<body class="login-body">
    <form action="/login" method="post" class="form-login">
        <h1>Bienvenido/a!</h1>
        <label for="userId">Usuario</label>
        <input class="input" type="text" name="user" id="user" placeholder="Username">
        <button type="submit" class="btn">INGRESAR</button>
    </form>
</body>

</html>