<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Register!</title>
</head>

<body class="login-body">
    <form action="/login" method="post" class="form-login">
        <h1>Bienvenido/a!</h1>
        <label for="userId">Nombre</label>
        <input class="input" type="text" name="username" id="userInput" placeholder="Username">

        <label for="userId">Email</label>
        <input class="input" type="text" name="email" id="emailInput" placeholder="Email">

        <label for="userId">Password</label>
        <input class="input" type="text" name="password" id="passwordInput" placeholder="Password">

        <button type="submit" class="btn">REGISTRAR</button>
    </form>
</body>

</html>