<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Register!</title>
</head>

<body class="login-body">

    <form action="/register" method="POST" class="form-login">

        <h1>Bienvenido/a!</h1>
        <label for="userInput">Nombre</label>
        <input class="input" type="text" name="username" id="username" placeholder="Username">

        <label for="emailInput">Email</label>
        <input class="input" type="email" name="email" id="email" placeholder="Email">

        <label for="passwordInput">Password</label>
        <input class="input" type="password" name="password" id="password" placeholder="Password">

        <button type="submit" class="btn">REGISTRAR</button>

        <small><a href="/login">Iniciar sesion</a></small>

    </form>
</body>

</html>