@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-body {
  background: linear-gradient(
      to top right,
      rgba(0, 1, 37, 0.733),
      rgba(7, 28, 146, 0.651),
      #00012593
    ),
    url("https://img.freepik.com/vector-gratis/gran-ola-oceano-estilo-japones-salpicaduras-agua-espacio-tormenta-naturaleza-meteorologica-dibujado-mano-ilustracion-vector-ola-grande_1284-46205.jpg?w=996&t=st=1668807129~exp=1668807729~hmac=e2eef6b142549dfc29e6fd1c29007434d28d89be31e74c5a2e1c7b7486ce4a15");
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-login {
  height: 50vh;
  color: rgb(0, 0, 0);
  background-color: rgb(221, 217, 217);
  width: 50%;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: auto;
  padding: 1% 2%;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 174, 81);
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 248, 238);
}
.welcome {
  margin: 30px;
  background-color: rgb(221, 217, 217);
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
}
.welcome a {
  text-decoration: none;
}
.index-body {
  background: rgb(37, 37, 37);
}

#add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 20px;
}
main input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px rgba(0, 0, 0, 0.144);
}
#list-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

#chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
#chat-box form {
  width: 50rem;
  margin-bottom: 100px;
}

.main-index table {
  border: 2px solid rgb(209, 209, 209);
  width: 50rem;
  margin: 20px auto;
}
.main-index table td {
  text-align: center;
}
.main-index table img {
  height: 100px;
}
.main-index ul li {
  list-style: none;
  background-color: #fff;
}
.msg {
  background-color: red;
}

.main-index button {
  background-color: rgb(70, 129, 255);
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-size: 23px;
  font-weight: bolder;
  border: none;
}
.boldtxt {
  font-weight: bolder;
}
